<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.qfedu.mapper.VideoMapper">
    
    <resultMap id="videoMap" type="video">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="detail" column="detail"/>
        <result property="speakerId" column="speaker_id"/>
        <result property="courseId" column="course_id"/>
        <result property="time" column="time"/>
        <result property="videoUrl" column="video_url"/>
        <result property="videoImgUrl" column="image_url"/>
        <result property="playNum" column="play_num"/>
        <association property="speaker" javaType="speaker">
            <id property="id" column="sid"/>
            <result property="speakerName" column="speakerName"/>
            <result property="speakerDesc" column="speaker_desc"/>
            <result property="headImgUrl" column="head_img_url"/>
        </association>
    </resultMap>


    <select id="selectAllVideo" parameterType="videoQueryVo" resultMap="videoMap">
      select v.*,s.speakerName from video v,speaker s
        <where>
            <if test="title != null and  title != '' ">
                and  title like concat('%',#{title},'%')
            </if>
            <if test="speakerId != 0 ">
                and  speaker_id = #{speakerId}
            </if>
            <if test="courseId !=0 ">
                and course_id =#{courseId}
            </if>
            and v.speaker_id = s.id
        </where>



        limit #{begin},#{rows}




    </select>

    <insert id="addVideo" parameterType="Video" >
        insert into video(title, detail, time, speaker_id, course_id, video_url, image_url) values(#{title},#{detail},#{time},#{speakerId},#{courseId},#{videoUrl},#{videoImgUrl})
    </insert>


    <select id="selectAllVideoNum" parameterType="videoQueryVo" resultType="int">
        select count(1) from video

        <where>
            <if test="title != null and  title != '' ">
                and  title like concat('%',#{title},'%')
            </if>
            <if test="speakerId != 0 ">
                and  speaker_id = #{speakerId}
            </if>
            <if test="courseId !=0 ">
                and course_id =#{courseId}
            </if>
        </where>
    </select>


    <delete id="delBatchVideos" parameterType="videoQueryVo">
        delete from video where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateVideo" parameterType="Video">
        update video set title = #{title}, detail= #{detail}, time= #{time}, speaker_id= #{speakerId}, course_id= #{courseId}, video_url= #{videoUrl}, image_url= #{videoImgUrl} where id = #{id}
    </update>


    <update id="addVideoPlayNum">
        update video set play_num = #{playNum} where id = #{id}
    </update>


    <select id="selectAllVideoByCourseId" resultMap="videoMap" parameterType="integer">
        select v.*,s.id as sid,s.speakerName from video v left join speaker s on v.speaker_id = s.id
        where course_id = #{courseId}
    </select>


    <select id="selectVideoById" parameterType="int" resultMap="videoMap">
        select v.*,s.id sid,s.speakerName,s.speaker_desc,s.head_img_url  from video v left join speaker s on v.speaker_id = s.id
        where v.id = #{id}
    </select>

</mapper>
